.table {
  margin-bottom: 40px;
}

.tableHeader {
  display: none;
}

.bookList {
  width: 300px;
  padding: 0;
  list-style: none;
  border-top: 1px solid var(--pale-blue);
}

@media (min-width: 768px) {
  .table {
    width: 100%;
    margin: 0 auto;
  }
  .tableHeader {
    display: flex;
    width: 98%;
    margin: 0 auto;
    border-top: 1px solid var(--pale-blue);
  }

  .bookList {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 98%;
    height: 100px;
    overflow-y: scroll;
  }

  .bookListItem {
    padding: 12px 0 8px 0;
    align-items: center;
  }

  .bookListItemBody {
    display: flex;
    align-items: center;
  }

  .columnTitle {
    width: 326px;
  }

  .columnAuthor {
    width: 164px;
  }

  .columnYear {
    width: 80px;
  }

  .headerTitle {
    margin: 0;
    padding: 6px 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--blue-grey);
  }
}

@media (min-width: 1280px) {
  .table {
    width: 100%;
  }
  .bookList {
    padding: 18px 0 0 0;
    height: 166px;
    border-bottom: 1px solid var(--pale-blue);
  }

  .columnTitle {
    width: 384px;
  }

  .columnAuthor {
    width: 164px;
  }

  .columnYear {
    width: 80px;
  }
}
