.container {
  position: relative;
  padding: 36px 10px;
  min-width: 320px;
  display: flex;
  flex-direction: column;

  background-color: var(--pale-grey);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    padding: 26px 44px;
    min-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 30px 40px 50px 40px;
    min-width: 1280px;
  }

  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .someContainer {
    display: flex;
    flex-wrap: wrap;
  }
}
