.container {
  position: relative;
  padding: 36px 10px 0;
  max-width: 320px;
  margin: 0 auto 49px;
  display: flex;
  flex-direction: column;

  background-color: var(--pale-grey);
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.chartResultWrapper {
  display: flex;
}

@media (min-width: 768px) {
  .container {
    padding: 26px 44px;
    min-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 36px 10px;
  }

  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .chartResultWrapper {
    justify-content: space-between;
  }

  .someContainer {
    display: flex;
    flex-wrap: wrap;
  }
}
