.panel {
  margin: 0 auto;
  order: 1;
}

@media (min-width: 768px) {
  .panel {
    width: 679px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .panel {
    width: 860px;
  }
}
