.form {
  max-width: 320px;
  margin: 0 auto;
  padding-bottom: 35px;
  position: relative;
}

.form h2 {
  margin: 0;
  padding-top: 15px;
  margin-bottom: 2px;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.42px;
  font-weight: 500;
  color: var(--white);
}

.label {
  margin-top: 20px;
}

.form h2 > span {
  color: var(--orangey-red);
}

.form input {
  width: 100%;
  padding-left: 9px;
  box-shadow: 0px -2px 2px 0 rgba(29, 29, 27, 0.1);
  border: solid 1px var(--pale-grey);
  border-radius: 4px;
  background-color: var(--pale-grey);
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.42px;
  color: var(--dark);
}

.form input::placeholder {
  width: 124px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.42px;
  color: var(--light-grey-blue-three);
}

.form button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 59px;
  margin-top: 50px;
  background-color: var(--orange);
  border: 1px solid var(--orange);

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: 0.96px;
  text-align: center;
  color: var(--white);

  cursor: pointer;
}

.form p {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.39px;
  text-align: center;
  color: var(--white);
  margin-top: 6px;
  cursor: default;
}

.form a {
  font-weight: 500;
  text-decoration-line: underline;
  color: var(--rusty-orange);
  cursor: pointer;
}

/* input error */
.nameError,
.emailError,
.passwordError,
.repeatPasswordError {
  position: absolute;
  padding: 0 10px;
  color: var(--orangey-red);
  font-weight: 600;
  z-index: 1;
  left: -10px;
}

.nameError {
  top: 17.5%;
}

.emailError {
  top: 35%;
}

.passwordError {
  top: 53%;
}

.repeatPasswordError {
  top: 71%;
}

/* .logInButton {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
} */

/* input error -END */

@media (min-width: 768px) {
  .form {
    width: 320px;
    padding-bottom: 29px;
  }

  .form h2 {
    color: var(--blue-grey);
    padding-top: 20px;
  }

  .form p {
    color: var(--blue-grey);
  }
}
