.container {
  padding: 28px 10px;
  margin: 0 auto;
  width: 320px;
}

.header {
  margin: 0 0 26px 0;
  height: 60px;
  box-shadow: 1px 1.7px 1px 0 rgba(193, 196, 206, 0.4);
  background-color: var(--light-grey-blue);
  color: var(--white);
  line-height: 60px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: 600;
}

.pickers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.picker {
  position: relative;
  margin-bottom: 26px;
  width: 300px;
  height: 40px;
  color: var(--pale-grey);
  border: solid 1px #cdd0d9;
}

.picker input {
  font-size: 13px;
  line-height: 40px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: var(--black);
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
}

.picker::before {
  position: absolute;
  left: 20px;
  top: 10px;
  background: url(./calendar.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
}

.submitOverlay {
  margin: 0 auto;
  width: 180px;
}

.submit {
  margin: 0 auto;
  width: 180px;
  background-color: var(--orange);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 40px;
  color: var(--white);
  cursor: pointer;
  outline: none;
}

.select {
  width: 300px;
  height: 39px;
  box-shadow: 1px 1.7px 1px 0 rgba(193, 196, 206, 0.4);
  background-color: #fff;
  border: none;
  text-align: center;
  padding-left: 20px;
  color: #b1b5c2;
  margin: 0 auto;
}

.button {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 39px;
  background-color: #ffffff;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid black;
  font-size: 13px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.titleContainer {
  margin-bottom: 26px;
  height: 60px;
  background-color: var(--light-grey-blue);
}

.title {
  font-family: 'Montserrat';
  font-size: 19px;
  line-height: 60px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    padding: 30px 44px;
    margin: 0 auto;
    width: 748px;
  }

  .pickers {
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
  }

  .picker {
    margin-left: 16px;
    margin-right: 16px;
    width: 190px;
  }

  .selectContainer {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }

  .select {
    margin-right: 21px;
  }

  .button {
    margin: 0;
    margin-right: 2px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 34px 40px 48px 40px;
    min-width: 862px;
  }
}
