* {
  margin: 0;
  padding: 0;
}

.form {
  position: relative;
  min-width: 320px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.label {
  width: 100%;
  margin-bottom: 10px;
}

input::placeholder {
  font-family: 'Montserrat';
  letter-spacing: 0.42px;
  font-size: 13px;
  font-weight: 500;
}

input[type='password'] {
  size: 10px;
}

.emailInput,
.passwordInput {
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 9px;
  box-shadow: 0px -2px 2px 0 rgba(29, 29, 27, 0.1);
  color: var(--dark);
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  background-color: var(--pale-grey);
  letter-spacing: 0.5px;
}

.passwordError,
.emailError {
  display: block;
  color: var(--orangey-red);
  position: absolute;
  font-weight: 600;
}

.emailError {
  top: 108px;
  left: 10px;
}

.passwordError {
  top: 216px;
  left: 10px;
}

.emailInput {
  margin-bottom: 13px;
}

.passwordInput {
  margin-bottom: 32px;
  font-weight: 800;
}

.emailText,
.passwordText {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 3;
  letter-spacing: 0.42px;
  color: var(--white);
  font-weight: 600;
}

.emailText::after,
.passwordText::after {
  content: '*';
  display: inline-block;
  color: var(--orangey-red);
  margin-left: 3px;
  font-family: 'Montserrat';
}

.logInButton {
  border: none;
  font-family: 'Montserrat';
  width: 100%;
  height: 55px;
  background-color: var(--orange);
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  outline: none;
}

.singInLink:hover {
  color: var(--orangey-red);
}

.singInLink {
  color: var(--orange);
  text-decoration: none;
  margin-bottom: 18px;
  border-bottom: 0.1px var(--orange) solid;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .form {
    width: 100%;
    background-color: var(--white);
    background-image: none;
    padding: 20px;
  }

  .logInButton {
    margin-bottom: 25px;
  }

  .emailText,
  .passwordText {
    font-weight: 600;
    color: var(--blue-grey);
  }

  .singInLink {
    color: var(--orange);
    border-bottom: 0.1px var(--orange) solid;
  }

  .emailError {
    top: 118px;
    left: 20px;
  }

  .passwordError {
    top: 226px;
    left: 20px;
  }
}

@media (min-width: 768px) {
  .logInButton {
    margin-bottom: 25px;
  }
}
