.logo {
  font-family: AbrilFatface;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  color: var(--dark);
  text-decoration: none;
  outline: none;
  text-align: center;
  width: 100%;
}

.logo_authenticated {
  font-family: AbrilFatface;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  color: var(--dark);
  text-decoration: none;
  outline: none;
}
