.table {
  margin-bottom: 40px;
}

.tableHeader {
  display: none;
}

.bookList {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid var(--pale-blue);
}

.bookListItem {
  display: flex;
  justify-content: flex-start;
  padding: 18px 0 8px 0;
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  border-bottom: 1px solid var(--pale-blue);
}

.bookListItemBody {
  width: 100%;
}

.iconBook {
  margin-right: 18px;
  color: var(--light-grey-blue-three);
}

.iconDelete {
  color: var(--light-grey-blue-three);
}

.btnDelete {
  margin-right: 0;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.bookTitle {
  margin: 0 20px 0 0;
  padding: 0 0 16px 0;
  color: var(--dark);
}

.bookInfo {
  display: flex;
}

.bookName {
  margin: 0;
  padding: 0 0 12px 0;
  width: 28%;
  color: var(--blue-grey);
}

.bookName:last-child {
  padding: 0;
}

.bookData {
  margin: 0;
  padding: 0;
}

.input {
  display: none;
}

.input:checked + .label::before {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label::before {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  content: '';
  border: 1px solid var(--orange);
}

@media (min-width: 768px) {
  .tableHeader {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--pale-blue);
  }

  .bookList {
    height: 100px;
    overflow-y: scroll;
  }

  .bookListItem {
    padding: 12px 0 8px 0;
    align-items: center;
  }

  .bookListItemBody {
    display: flex;
    align-items: center;
  }

  .columnTitle {
    width: 46%;
  }

  .bookTitle {
    padding: 0;
    width: 42%;
  }

  .columnAuthor {
    width: 26%;
  }

  .bookAuthor {
    width: 32%;
  }

  .columnYear,
  .bookYear {
    width: 14%;
  }

  .columnPages,
  .bookPages {
    width: 10%;
  }

  .headerTitle {
    margin: 0;
    padding: 6px 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--blue-grey);
  }

  .bookListItem {
    display: flex;
  }

  .bookName {
    display: none;
  }
}

@media (min-width: 1280px) {
  .bookList {
    padding: 18px 0 0 0;
    border-bottom: 1px solid var(--pale-blue);
  }

  .bookListItem {
    padding: 0;
    margin-bottom: 12px;
    border: none;
  }

  .bookTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
