.container {
  margin-bottom: 34px;
  order: 3;
  width: 300px;
  /* margin: 0 auto; */
}

@media (min-width: 768px) {
  .container {
    width: 678px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 860px;
    margin-top: -148px;
    margin-left: 0px;
    height: 200px;
  }
}
