.container {
  margin-bottom: 34px;
  order: 3;
}

@media (min-width: 1280px) {
  .container {
    width: 880px;
    margin-top: -166px;
  }
}

@media (min-width: 1980px) {
  .container {
    width: 1000px;
    margin-left: 5em;
  }
}
