.conteiner {
  background: #f5f7fa;
  width: 282px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 16px;
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 0.86px;
}
.cardBook {
  list-style-type: none;
  width: 280px;
  height: 167px;
}
.item {
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  height: 135px;
  box-shadow: 1px 1.7px 1px 0 grey;
}
.display {
  height: 32px;
  display: flex;
}
.wrapper_mob {
  display: flex;
}
.icon {
  padding: 14px;
  width: 48px;
  height: 43px;
}
.cardTitle {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 205px;
  height: 30px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
  word-wrap: break-word;
  /* line-height: 20px; */
}

.cardTitle:hover {
  white-space: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  padding-left: 18px;
  margin-top: 3px;
  margin-left: 30px;
}
.label {
  margin-top: 10px;
  width: 63px;
  height: 11px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
  color: #b4b7be;
  padding-bottom: 6px;
}
.quantity {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  width: 109px;
  display: block;
  height: 14px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
  word-wrap: break-word;
}
.quantity_year {
  margin-top: 10px;
  min-width: 82px;
  display: block;
  height: 11px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
}

/* tablet */
.tablet {
  display: none;
  background: #f5f7fa;
  margin: 0 auto;
  width: 731px;
}
.wrapper {
  margin-left: 44px;
}
.tittle__tablet {
  margin-top: 35px;
  padding-bottom: 22px;
  width: 240px;
  height: 15px;
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 0.86px;
  text-align: left;
  margin-bottom: 20px;
}
.text__name_book {
  padding-bottom: 15px;
  color: #898f9f;
  display: inline-block;
  width: 90px;
  height: 10px;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
  margin-bottom: 15px;
}
.text__avtor {
  padding-bottom: 15px;
  padding-left: 269px;
  color: #898f9f;
  display: inline-block;
  width: 88px;
  height: 10px;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
}
.text__year {
  padding-bottom: 15px;
  padding-left: 232px;
  color: #898f9f;
  display: inline-block;
  width: 88px;
  height: 10px;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
}
.text__page {
  padding-bottom: 15px;
  padding-left: 45px;
  color: #898f9f;
  display: inline-block;
  width: 88px;
  height: 10px;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
}
.read__book {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.wrapper_text {
  margin: 0 auto;
}
.list_tablet {
  box-shadow: 1px 1.7px 1px 0 grey;

  display: flex;
  position: relative;
  margin: 0;
  padding: 0;

  list-style: none;
  width: 678px;
  background: #fff;
  height: 60px;
  margin-bottom: 10px;
}
.icon__tablet {
  width: 22px;
  height: 18px;
  top: 21px;
  left: 15px;
  position: absolute;
}
.table_book {
  /* padding-top: 13px; */
  /* line-height: 60px; */
}
.name_book {
  padding-left: 55px;
  width: 358px;
  /* height: 31px; */
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
  color: #242a37;
  position: relative;
  /* top: 20px; */
  /* line-height: 60px; */
}
.avtor {
  margin: 0;
  position: relative;
  width: 230px;
  /* height: 31px; */
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
  color: #242a37;
  vertical-align: middle;
  /* line-height: 60px; */
}
.year {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding-top: 7px; */
  width: 47px;
  /* height: 31px; */
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
  color: #242a37;
  line-height: 60px;
}

.year:hover {
  white-space: normal;
}

.page {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 31px; */
  /* padding-top: 7px; */
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  text-align: left;
  color: #242a37;
  line-height: 60px;
}

.page:hover {
  white-space: normal;
}

.p_name_book {
  /* padding-top: 7px; */
  width: 200px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* .p_name_book:hover {
  white-space: normal;
} */
.p_avtor {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding-top: 7px; */
  width: 125px;
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* .p_avtor:hover {
  white-space: normal;
} */

@media (min-width: 768px) {
  .conteiner {
    display: none;
  }
  .tablet {
    display: block;
  }
}
@media (min-width: 1280px) {
  .tablet {
    margin: 0 auto;
    width: 1200px;
  }
  .wrapper {
    margin: 0 auto;
  }
  .list_tablet {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 10px;
  }
  .table_book {
    /* padding-top: 13px; */
  }
  .wrapper_text {
    width: 1200px;
  }

  .text__avtor {
    padding-left: 540px;
  }
  .text__year {
    padding-left: 381px;
  }
  .text__page {
    padding-left: 109px;
  }
  .name_book {
    width: 630px;
  }
  .p_avtor {
    width: 226px;
  }
  .avtor {
    width: 381px;
  }
  .year {
    width: 111px;
  }
}
